.content-footer{
    padding: 30px 5px;
    background-color: black;
}
.footer-column{
    padding-top: 70px;
}
.footer-column .logo {
    margin-top: -8px;
    margin-bottom: 46px;
    
}
.contact{
    margin: 30px 0;
}
.contact p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.follow{
    display: flex;
    flex-wrap: wrap;
    
}
.follow h3{
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    
}
.follow a{
    display: inline-block;
    position: relative;
    width: 46px;
    height: 45px;
    background: #fff;
    line-height: 46px;
    border-radius: 100%;
    transition: all 0.3s ease 0s;
    text-align: center;
    color: black;
    margin: 0 8px;
    font-size: 16px;
    z-index: 1;
}
.follow a::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #59b210;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
    border-radius: 50%;
    z-index: -1;
}
.follow a:hover::before{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0.7s;
}
.follow a:hover{
    color: white;
    transition: 0.7s;
}

.footer-column h3{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 16px;
    margin-bottom: 34px;
    position: relative;
}
.footer-column h3::before{
    position: absolute;
    width: 48px;
    height: 1px;
    background: #fff;
    content: "";
    bottom: 0;
}
.footer-column ul li a{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 16px;
    display: block;
    transition: .3s;
    position: relative;
}
.footer-column ul li a:hover{
    color: #59b210!important;
    padding-left: 30px;
}
.footer-column ul li a::before{
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    background: #59b210;
    transition: .3s;
    left: 0;
    top: calc(50% - .5px);
}
.footer-column ul li a:hover::before{
    width: 20px;
}
.payment_methods{
    margin-bottom: 30px;
}